/*Standard Class across all HTML pages*/

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

/*Stlying for top two div classes in index.html and image.html*/

.topper {
    height: 75px;
    margin-top: 30px;
}

.topper1 {
    height: 2px;
    margin-top: 25px;
}

/*Stlying for page footers same styling is used across all three files*/
.footer {
    position: fixed;
    bottom: 0;
    height: 5.40%;
    width: 100%;
    background-color: #f2f2f2;
    clear: both;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.footer1 {
    position: fixed;
    bottom: 41px;
    border-bottom: 1px solid #d6d6d6;
    height: 40px;
    width: 150%;
    background-color: #f2f2f2;
    clear: both;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

/*Class styling for links and labeling in both footers and headers*/
.glinks {
    font-size: 13px;
    padding: -15px 15px;
    margin-right: 20px;
    border-radius: 3px;
    font-family: arial, sans-serif;
    text-align: right;
}

.glinksl {
    font-size: 13px;
    padding: -15px 15px;
    text-align: center;
    border-radius: 3px;
    font-family: arial, sans-serif;
    text-align: left;
}

/*List item styling for links in index.html and images.html*/

.link {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}


.linkspacing {
    display: initial;
    text-decoration: none;
    color: #5F6368;
    padding: 3px;
}

/*List item styling 1 and 1b are also used in advanced.html*/
.linkspacing1 {
    padding: 5px 10px;
    display: initial;
    text-decoration: none;
    color: #5F6368;
    font-size: 15px;
}

.linkspacing1b {
    display: initial;
    text-decoration: none;
    color: #808080;
    font-size: 15px;
}


/*Google logo centered on the screen used in index.html and images.html*/

.centered{
    text-align:center;
}


/*Searchbox styling used in images.html*/

.searchbox {
    border-radius: 25px;
    border: 1px solid #edebeb;
    color: var(--search-box-text);
    font-size: 16px;
    height: 100%;
    outline: none;
    position: center;
    width: 550px;
    height: 40px;
    background-image: url('camera.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

/*Searchbox styling used in index.html*/

.searchbox1 {
    background-image: url('search.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    background-color: var(--search-box-bg, white);
    border: 1px solid #edebeb;
    color: var(--search-box-text);
    font-size: 16px;
    height: 100%;
    outline: none;
    position: center;
    width: 550px;
    height: 40px;
    background-position: 3.5% 50%;
}

/*Input styling for submit button used in both index.html and images.html*/

.submit {

    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/*Styling for advanced.html*/


.topperadv {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    display: inline-block;
    text-decoration: none;
    background-image: url("glogo.jfif");
    background-repeat: no-repeat;
}

.midadv {
    position: relative;
    border: 1px solid #f2f2f2;
    height: 50px;
    padding-top: 35px;
}

.advtext {
    color: #d93025;
    font-size: 20px;
    padding: 15px;
}

#formContainer {
    width: 75%;
    margin: 2px;
    padding: 10px;
    border: 2px;
}

#formC {
    width: 100%;
}

.rows {
    width: 100%;
    display: block;
}

.column {
    width: 100%;
    display: inline-block;
}

.theLabels {
    width: 30%;
    float: left;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    border: none;
    background-color: white;
}

.theLabels1 {
    width: 30%;
    float: left;
    padding-top: 35px;
    padding-bottom: 20px;
}

.theInputs {
    width: 66%;
    float: right;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
} 